.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.cursor/
CONTEXT.md
MCP_USAGE_LOG.md
mcp.json
PLAN.md
TASKS.md

#BACKEND
.claude
.egg-info
__pycache__/
*.pyc
*.pyo
*.pyd
open-swe/
.idea/
frontend/src/routeTree.gen.ts
uv.lock
C:\o_d\fpt\do_an\VibeSDLC\services\ai-agent-service\.env
.env
.env.*
*.env
**/.env
**/.env.*

services/ai-agent-service/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
openapi.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
github_private_key.pem
backend/pyproject.toml
backend/agents_service.egg-info
test_data.json


.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.cursor/
CONTEXT.md
MCP_USAGE_LOG.md
mcp.json
PLAN.md
TASKS.md

#BACKEND
.claude
.egg-info
__pycache__/
*.pyc
*.pyo
*.pyd
open-swe/
.idea/
frontend/src/routeTree.gen.ts

.env
.env.*
*.env
**/.env
**/.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
openapi.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
frontend/pnpm-lock.yaml
backend/app/agents/developer/projects_workspace
backend/projects

backend/uv.lock
/.bun-cache
backend/app/projects/.bun-cache
# ignore mọi thư mục .bun-cache trong project
**/.bun-cache/
**/.bun-cache/**
VibeSDLC/backend/app/projects
backend/app/projects/.llm-cache
