.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.cursor/
CONTEXT.md
MCP_USAGE_LOG.md
mcp.json
PLAN.md
TASKS.md

#BACKEND
.claude
.egg-info
__pycache__/
*.pyc
*.pyo
*.pyd

.env
uv.lock